<%= stylesheet_link_tag 'index' %>
<%= stylesheet_link_tag 'carousel' %>
<%= stylesheet_link_tag 'animate' %>

<div class="grid">
	<div class="column col-8-of-8">
		<section id="carousel-container">
			<!-- <input type="button" value="next" id="nextButton">  -->

			<div id="bubbles">
				<div class="bubble">
				</div>
				<div class="bubble">
				</div>
				<div class="bubble">
				</div>
			</div>

			<script src="javascripts/carousel.js">
			</script>
			<div class="slide animated" style="background-color: blue">
				<h2>This 1</h2>
			</div>
			<div class="slide animated" style="background-color: red">
				<h2>This 2</h2>
			</div>
			<div class="slide animated" style="background-color: yellow">
				<h2>This 3</h2>
			</div>
		</section>	
	</div>
</div> 
<div class="grid">
	<div class="column col-4-of-8" id="left-col">
		<section class="border-top border-bottom col">
			<div class="heading">
				<div id="ebook-logo">
					<img src="images/kindle.png" alt="ebook icon">
				</div>
				<h1> We've launched our NEW Ebooks</h1>
			</div>
			<article>
				<div>
					<div class="img-background">
						<img src="images/ebook-banner.png" alt="ebook devices">
					</div>
					<p>Voluptaria theophrastus ius cu. Quem referrentur cu pro. His ut iudicabit periculis, cu zril aliquip theophrastus vix. Ceteros recteque no vis. Solet putant ad vix, quot inimicus ad vim, efficiendi deterruisset ad eum. Ut sea tritani impedit invenire. Tale accusam tincidunt ea nam, ne suas utinam tritani nam.</p>
				</div>
			</article>
			<input type="button" value="More"></button>
		</section>
	</div>
	<div class="column col-4-of-8" id="right-col">
		<section class="border-top border-bottom col">
			<h1 id="social-head">Whats being said...</h1>
			<div class="social-banner border">
				<div class="social-banner-wrap">
					<div class="logo twitter">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</div>
					<div class="social-text">
						<h4>a Little Bit <span>@alittlebit</span></h4>
						<p>The secret to creativity is knowing how to hide your sources, the eternal mystery of the world!</p>
					</div>
				</div>
			</div>
			<div class="social-banner border">
				<div class="social-banner-wrap">
					<div class="logo facebook">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</div>
					<div class="social-text">
						<h4>a Little Bit <span>@alittlebit</span></h4>
						<p>The secret to creativity is knowing how to hide your sources, the eternal mystery of the world!</p>
					</div>
				</div>
			</div>
			<div class="social-banner border">
				<div class="social-banner-wrap">
					<div class="logo facebook">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</div>
					<div class="social-text">
						<h4>a Little Bit <span>@alittlebit</span></h4>
						<p>The secret to creativity is knowing how to hide your sources, the eternal mystery of the world!</p>
					</div>
				</div>
			</div>
			<div class="social-banner">
				<div class="social-banner-wrap">
					<div class="logo twitter">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</div>
					<div class="social-text">
						<h4>a Little Bit <span>@alittlebit</span></h4>
						<p>The secret to creativity is knowing how to hide your sources, the eternal mystery of the world!</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<div class="grid">
	<div class="column col-8-of-8">
		<section class="grid" id="more-bits">
			<h1>More bits...</h1>
			<div class="column col-4-of-8">
				<div class="more-bits-bottom">
					<img src="images/1984.jpg" alt="book cover">
					<div class="more-bits-text">
						<h1>This is a book title</h1>
						<p>Ad tollit iuvaret reprimique nec, eu pri illum zril evertitur. Eu nec atqui postea. Ut euismod reprehendunt mei, an vidit nominati vix. Agam augue dolores duo id.</p>
						<input type="button" value="More"></button>
					</div>
				</div>
			</div>
			<div class="column col-4-of-8">
				<div class="more-bits-bottom">
					<img src="images/1984.jpg" alt="book cover">
					<div class="more-bits-text">
						<h1>This is a book title</h1>
						<p>Ad tollit iuvaret reprimique nec, eu pri illum zril evertitur. Eu nec atqui postea. Ut euismod reprehendunt mei, an vidit nominati vix. Agam augue dolores duo id.</p>
						<input type="button" value="More"></button>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>