<%= stylesheet_link_tag 'index' %>

<div class="grid">
	<div class="column col-8-of-8">
		<section id="home-carousel">
			<h2>This is the carousel</h2>
		</section>	
	</div>
</div> 
<div class="grid">
	<div class="column col-4-of-8">
		<section class="border-top">
			<h1> We've launched our NEW Ebooks</h1>
		</section>
	</div>
	<div class="column col-4-of-8">
		<section class="border-top">
			<h1>Whats being said</h1>
		</section>
	</div>
</div>