<%= stylesheet_link_tag 'product' %>


<div class="grid">
	<div class="column col-8-of-8">
		<section id="product-main">
			<div class="main-title-author">
				<h1>a Little Bit of <b>Knowledge</b></h1>
				<h2><i>by Albert Einstein</i></h2>
			</div>
			<div class="main-image">
				<img src="images/product.jpg" alt="product image">
			</div>
			<div class="grid">
				<div class="column col-3-of-8 offset-2-of-8">
					<div class="price-blob">
						<img src="images/book.png">
						<div class="pricing-text">
							<h2>PaperBack</h2>
							<p>£8.00 + Postage</p>
						</div>
						<input type="button" value="Buy">
					</div>
				</div>
				<div class="column col-3-of-8">
					<div class="price-blob">
						<img src="images/kindle.png">
						<div class="pricing-text">
							<h2>eBook</h2>
							<p>£8.00 + Postage</p>
						</div>
						<input type="button" value="Buy">
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<div class="grid" id="info">
	<div class="column col-5-of-8">
		<article>
			<p>Ius ne quidam disputationi. Dicunt alterum perpetua sed ei, eros iusto laudem et quo. Ut has autem copiosae recteque, putent everti adipiscing vix ei. Iuvaret aliquam ex mei, no vis solet moderatius vituperatoribus.
				<br><br>
			Erat quaeque repudiare qui an. Has mundi electram conclusionemque an. Ignota habemus ocurreret cum an. Ut consequat elaboraret cum. Id pro epicuri blandit eleifend, et enim tritani mea. Diceret vocibus ei eum.</p>
		</article>
	</div>
	<div class="column col-3-of-8">
		<aside id="additional-info">
			<div class="inner-text">
			<h4>Additional Info<h4>
				<h5>ISBN:</h5>
				<p>ihdjasfuohbsdugb</p>
				<br>
				<h5>Paperback:</h5>
				<p>154 Pages</p>
			</div>
		</aside>
	</div>
</div>