<%= stylesheet_link_tag 'product' %>


<div class="grid">
	<div class="column col-8-of-8">
		<section id="product-main">
			<div class="main-title-author">
				<h1>a Little Bit of <b>Knowledge</b></h1>
				<h2><i>by Albert Einstein</i></h2>
			</div>
			<div class="main-image">
				<img src="images/product.jpg" alt="product image">
			</div>
			<div class="grid">
				<div class="column col-3-of-8 offset-2-of-8">
					<div class="price-blob">
						<img src="images/book.png">
						<div class="pricing-text">
							<h2>PaperBack</h2>
							<p>£8.00 + Postage</p>
						</div>
						<input type="button" value="Buy">
					</div>
				</div>
				<div class="column col-3-of-8">
					<div class="price-blob">
						<img src="images/kindle.png">
						<div class="pricing-text">
							<h2>eBook</h2>
							<p>£8.00 + Postage</p>
						</div>
						<input type="button" value="Buy">
					</div>
				</div>
			</div>
		</section>
	</div>
</div>