<%= stylesheet_link_tag 'product' %>


<div class="grid">
	<div class="column col-8-of-8">
		<section id="product-main">
			<div class="main-title-author">
				<h1>a Little Bit of <b>Knowledge</b></h1>
				<h2><i>by Albert Einstein</i></h2>
			</div>
			<div class="main-image">
				<img src="images/product.jpg" alt="product image">
			</div>
			<div class="grid">
				<div class="column col-3-of-8 offset-2-of-8">
					<div class="price-blob">
						<img src="images/book.png">
						<div class="pricing-text">
							<h2>PaperBack</h2>
							<p>£8.00 + Postage</p>
						</div>
						<input type="button" value="Buy">
					</div>
				</div>
				<div class="column col-3-of-8">
					<div class="price-blob">
						<img src="images/kindle.png">
						<div class="pricing-text">
							<h2>eBook</h2>
							<p>£8.00 + Postage</p>
						</div>
						<input type="button" value="Buy">
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<div class="grid" id="info">
	<div class="column col-5-of-8">
		<article>
			<p>Ius ne quidam disputationi. Dicunt alterum perpetua sed ei, eros iusto laudem et quo. Ut has autem copiosae recteque, putent everti adipiscing vix ei. Iuvaret aliquam ex mei, no vis solet moderatius vituperatoribus.
				<br><br>
			Erat quaeque repudiare qui an. Has mundi electram conclusionemque an. Ignota habemus ocurreret cum an. Ut consequat elaboraret cum. Id pro epicuri blandit eleifend, et enim tritani mea. Diceret vocibus ei eum.
			Ius idque gubergren ne, cu mea solet tation iracundia, vel clita alienum invidunt id. Soleat vivendo definiebas eos te, etiam petentium temporibus te usu, vero labitur quo ad. Id eros mucius eam. Ne cum ridens insolens. Debet complectitur ad cum, tantas disputando id has. Pri ex dicant prodesset necessitatibus, ut dolores officiis recteque pri, legimus tacimates ius in.
			<br><br>
			Dignissim cotidieque pro at, nonumy animal definitiones id cum. Amet dolorum ancillae at nec, ex has postea audiam, ut falli putent sed. Pri at stet facer, at lorem nonumes dolorem cum. In malis dolorem sed, eos an lorem euismod, has ne alii augue semper. Ei ius simul delenit, lobortis intellegam at eum, nam te exerci iisque reprehendunt.
			<br><br>
			Sale omnesque mandamus an his. Ut mea mucius commune tincidunt. Eos habemus elaboraret constituam in, sit minim volumus no. Clita eripuit ne mel. Minim voluptaria id eam, eu vel duis scriptorem. In natum pertinax vix, esse impedit fabellas ne pri, stet intellegam interesset vix cu. Duo tritani voluptaria repudiandae et, eum placerat assueverit et.</p>
		</article>
	</div>
	<div class="column col-3-of-8">
		<div class="border-bottom">
			<aside id="additional-info">
				<div class="inner-text">
				<h4>Additional Info<h4>
					<h5>ISBN:</h5>
					<p>ihdjasfuohbsdugb</p>
					<br>
					<h5>Paperback:</h5>
					<p>154 Pages</p>
				</div>
			</aside>
		</div>
		<div id="about-author">
			<h2>About the Author</h2>
			<img src="images/einstein.jpg">
			<h5>Albert Einstein</h5>
			<p>Paulo elitr reprehendunt eos an, ne usu munere postea putant. Et doctus suscipit his. Ex mei menandri perpetua adipiscing. Everti audiam perpetua vel ex.ion iracundia, vel clita alienum invidunt id. Soleat vivendo definiebas eos te, etiam petentium temporibus te usu, vero labitur quo </p>
		</div>
	</div>
</div>