html, body {
  padding: 0px;
  margin: 0px;
  height: 100%; }

.grid {
  max-width: 960px;
  margin: 0 auto; }
  .grid .column {
    vertical-align: top; }
    @media (min-width: 700px) {
      .grid .column.col-1-of-2 {
        display: inline-block;
        width: 48.95833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-1-of-2 {
        display: inline-block;
        margin-left: 50%; } }
    @media (min-width: 700px) {
      .grid .column.col-1-of-4 {
        display: inline-block;
        width: 23.95833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-1-of-4 {
        display: inline-block;
        margin-left: 25%; } }
    @media (min-width: 700px) {
      .grid .column.col-2-of-4 {
        display: inline-block;
        width: 48.95833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-2-of-4 {
        display: inline-block;
        margin-left: 50%; } }
    @media (min-width: 700px) {
      .grid .column.col-3-of-4 {
        display: inline-block;
        width: 73.95833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-3-of-4 {
        display: inline-block;
        margin-left: 75%; } }
    @media (min-width: 700px) {
      .grid .column.col-1-of-8 {
        display: inline-block;
        width: 11.45833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-1-of-8 {
        display: inline-block;
        margin-left: 12.5%; } }
    @media (min-width: 700px) {
      .grid .column.col-2-of-8 {
        display: inline-block;
        width: 23.95833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-2-of-8 {
        display: inline-block;
        margin-left: 25%; } }
    @media (min-width: 700px) {
      .grid .column.col-3-of-8 {
        display: inline-block;
        width: 36.45833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-3-of-8 {
        display: inline-block;
        margin-left: 37.5%; } }
    @media (min-width: 700px) {
      .grid .column.col-4-of-8 {
        display: inline-block;
        width: 48.95833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-4-of-8 {
        display: inline-block;
        margin-left: 50%; } }
    @media (min-width: 700px) {
      .grid .column.col-5-of-8 {
        display: inline-block;
        width: 61.45833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-5-of-8 {
        display: inline-block;
        margin-left: 62.5%; } }
    @media (min-width: 700px) {
      .grid .column.col-6-of-8 {
        display: inline-block;
        width: 73.95833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-6-of-8 {
        display: inline-block;
        margin-left: 75%; } }
    @media (min-width: 700px) {
      .grid .column.col-7-of-8 {
        display: inline-block;
        width: 86.45833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-7-of-8 {
        display: inline-block;
        margin-left: 87.5%; } }
    @media (min-width: 700px) {
      .grid .column.col-1-of-12 {
        display: inline-block;
        width: 7.29167%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-1-of-12 {
        display: inline-block;
        margin-left: 8.33333%; } }
    @media (min-width: 700px) {
      .grid .column.col-2-of-12 {
        display: inline-block;
        width: 15.625%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-2-of-12 {
        display: inline-block;
        margin-left: 16.66667%; } }
    @media (min-width: 700px) {
      .grid .column.col-3-of-12 {
        display: inline-block;
        width: 23.95833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-3-of-12 {
        display: inline-block;
        margin-left: 25%; } }
    @media (min-width: 700px) {
      .grid .column.col-4-of-12 {
        display: inline-block;
        width: 32.29167%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-4-of-12 {
        display: inline-block;
        margin-left: 33.33333%; } }
    @media (min-width: 700px) {
      .grid .column.col-5-of-12 {
        display: inline-block;
        width: 40.625%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-5-of-12 {
        display: inline-block;
        margin-left: 41.66667%; } }
    @media (min-width: 700px) {
      .grid .column.col-6-of-12 {
        display: inline-block;
        width: 48.95833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-6-of-12 {
        display: inline-block;
        margin-left: 50%; } }
    @media (min-width: 700px) {
      .grid .column.col-7-of-12 {
        display: inline-block;
        width: 57.29167%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-7-of-12 {
        display: inline-block;
        margin-left: 58.33333%; } }
    @media (min-width: 700px) {
      .grid .column.col-8-of-12 {
        display: inline-block;
        width: 65.625%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-8-of-12 {
        display: inline-block;
        margin-left: 66.66667%; } }
    @media (min-width: 700px) {
      .grid .column.col-9-of-12 {
        display: inline-block;
        width: 73.95833%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-9-of-12 {
        display: inline-block;
        margin-left: 75%; } }
    @media (min-width: 700px) {
      .grid .column.col-10-of-12 {
        display: inline-block;
        width: 82.29167%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-10-of-12 {
        display: inline-block;
        margin-left: 83.33333%; } }
    @media (min-width: 700px) {
      .grid .column.col-11-of-12 {
        display: inline-block;
        width: 90.625%;
        margin-right: 10px; } }
    @media (min-width: 700px) {
      .grid .column.offset-11-of-12 {
        display: inline-block;
        margin-left: 91.66667%; } }
    .grid .column:last-child {
      margin-right: 0px; }

/*# sourceMappingURL=grid.css.map */
