<div class="grid">
<div class="column col-8-of-8">

<% for @book in @books do %>
	<h2><%= @book.title %> // <%= @book.author.full_name %></h2>
	<p>Pages: <%= @book.pages %> </p>
	<%= link_to 'Edit', "/book/#{@book.id}" %>
<% end %>

<h2><a href="book/new">Create Book</a></h2>

</div>
</div>