@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin scale-transform($size) {
	
	-webkit-transform: scale($size); 
	-ms-transform: scale($size); 
	transform: scale($size);
}

@mixin transition-time($time){
	-webkit-transition-duration: $time;
	transition-duration: $time;
}