#home-carousel {
	height: 60vh;
	width: 100%;
	background-color: red;
}

.border-top {
	margin-top: 1rem;
	border-top: 1px solid;	
}

.border-bottom {
	padding: 0.5rem;
	border-bottom: 1px solid;
}

#left-col {
	.heading {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	h1 {
		display: inline-block;
		margin: 0;
		width: 60%;
	}
	#ebook-logo {
		display: inline-block;
		height: 4rem;
		width: 4rem;
		border-radius: 50%;
		background-color: lightgrey;
		line-height: 4rem;
		text-align: center;
		img {
			margin-top: 0.5rem;
			height: 3rem;
		}
	}
	article {
		.img-background {
			background-color: lightgrey;
			text-align: center;
			img {
				width: 90%;
			}
		}
	}
}

#right-col {
	.social-banner {
		height: 5rem;
		padding: 0.5rem;
		.social-banner-wrap {
			padding: 0.5rem;
			.logo {
				vertical-align: middle;
				line-height: 5rem;
				color: white;
				display: inline-block;
				height: 4rem;
				width: 4rem;
				text-align: center;
				border-radius: 5px;
				i {
					font-size: 2.5rem;
				}
			}
			.twitter {
				background-color: blue;
			}
			.facebook {
				background-color: darkblue;
			}
			.social-text {
				vertical-align: middle;
				margin-left: 0.5rem;
				width: 80%;
				display: inline-block;
				h4 {
					display: inline-block;
					margin: 0; 
				}
				span {
					color: grey;
				}
				p {
					display: inline-block;
					margin: 0;
				}
			}
	}
	}
	.border {
			border-bottom: 1px solid;
		}
}	

.col {
	height: 50vh;
	position: relative;
}

#more-bits {
	.more-bits-bottom{
		height: 30vh;
		width: 100%;
		background-color: lightgrey;
	}
}

input[type=button] {
	position: absolute;
	right: 10px;
}



