#product-main {
	margin-top: 1rem;
	width: 100%; 
	.main-title-author {
		h1 {
			margin: 0;
		}
	}
	.main-image {
		text-align: center;
	}
	.price-blob {
		display: flex;
		align-items: center;
		height: 4rem;
		background-color: lightgrey;
		border-radius: 10px;
		img {
			margin-right: 0.5rem;
			height: 100%;
		}
		.pricing-text {
			vertical-align: center;
			display: inline-block;
			position: relative;
			height: 3rem;
			width: 60%;
			h2 {
				width: 10rem;
				margin: 0;
				display: inline-block;
			}
			p {
				margin: 0;
				display: inline-block;
			}
		}
	}
}

#info {
	margin-top: 1rem;
	#additional-info {
		border-radius: 10px;
		height: 9rem;
		margin-top: 1rem;
		background-color: lightgrey;
		.inner-text {
			padding: 1rem;
			h4 {
				margin: 0;
				margin-bottom: 0.5rem;
			}
			h5 {
				font-size: 1rem;
				text-decoration: bold;
				margin: 0;
			}
			p {
				margin: 0;
			}
		}	
	}
	#about-author {
		img {
			float: left;
			height: 8rem;
			margin-right: 0.5rem;
		}
	}
	border-bottom: 1px solid;
}

.border-bottom {
	height: 10rem;
	border-bottom: 1px solid;
}

#quotes {
	border-bottom: 1px solid;
	height: 15rem;
	.quote-content {
		&::before{
			content: "\201D"; /*Unicode for Left Double Quote*/
			vertical-align: top;
			margin-right: 1.5rem;


			/*Font*/
			font-family: Georgia, serif;
			font-size: 60px;
			font-weight: bold;
			color: #999;
			height:15rem;
		}
		blockquote{
			vertical-align: top;
			display:inline-block;
			margin: 0;
			position: relative;
			width: 80%;

			/*Font*/
			font-family: Georgia, serif;
			font-size: 16px;
			p {
				color: #999; 
			}
		}
	}
}

#more-bits {
	.bit {
		text-align: center;
		img {
			width: 50%;
		}
		p {
		}
	}
}