<!doctype html>
<html>
<head>
	<title>a Little Bit</title>
	<link href="stylesheets/grid.css" rel="stylesheet">
	<link href="stylesheets/style.css" rel="stylesheet">
	<link href="stylesheets/button.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
	<header class="grid">
		<div class="column col-3-of-8">
			<div class="branding-wrap">
				<a href="/">
					<div id="bulbwrap">
						<img src="images/bulb.png" alt="Bulb" id="bulb">
					</div>
					<img src="images/alb-logotype.png" alt="Logo" id="logotext">
				</a>
			</div>
		</div>
		<nav class="column col-4-of-8">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="#">Shop</a>
				</li>
				<li>
					<a href="#">Press</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Help</a>
				</li>
			</ul>
		</nav>
		<div class="column col-1-of-8">
			<div id="cart">
				<div id="counter">
					<p>0</p>
				</div>
				<img src="images/cart.png">
			</div>
		</div>
	</header>

	<%= yield %>

	<div class="grid">
		<footer> 
			<div class="column col-4-of-8 offset-4-of-8">
				<div id="footer-social">
					<ul>
						<a href="/"><li>
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</li></a>
						<a href="/"><li>
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</li></a>
						<a href="/"><li>
							<i class="fa fa-google-plus" aria-hidden="true"></i>
						</li></a>
						<a href="/"><li>
							<i class="fa fa-pinterest-p" aria-hidden="true"></i>
						</li></a>
					</ul>
				</div>
				<p>&copy; Copyright 2013, a Little Bit &trade;</p>
			</div>
		</footer>
	</div>
</body>
</html>